@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body{
  margin: 0%;
  padding: 0%;
}
.App {
  font-family: 'Joan';
  background-color: #7CB488;
  display: grid;
  color: #c8fca9;
  place-items: center;
  width:auto;
  height: 100vh;
}