.dropRes{
    display: flex;
    margin-top: 20px;
    background-color: #CCE3DE;
    border: transparent;
    border-radius: 8px;
    font-size: 14px;
    width: 50%;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}
.dropRes:hover{
    background-color: #BFDCE5;
}
.attachRes{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}
:local(p){
    padding-right: 20px;
    align-items: center;
}