body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url("https://cdn.unenvironment.org/2022-09/nicolai-kramer-unsplash.jpg");
    background-size: cover;
}
.containerTab{
    background-color: rgba(255, 255, 255, 0.5);

    margin: auto;
    margin-top: 5%;
    padding: 50px;
    height: 600px;
    width: 40%;
    border: 2px solid #393E46;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginLabel, .emailInput, .passwordInput, .submit, .lineBreak, .link {
  margin: 10px 0;
}

input:not([type='submit']){
    background-color: transparent;
}

.loginLabel{
    font-size: 40px;
}

input:not([type='submit']):not([type='file']):not(:placeholder-shown):not(:focus):valid{
    border-bottom: 2px solid rgb(1, 186, 1);
}

input:not([type='submit']):not(:placeholder-shown):not(:focus):invalid{
    border-bottom: 2px solid red;
}
.filePfp{
    display: none;
}
.labelFile{
    margin-top: 20px;
    border: none;
    color: white;
}
.passwordInput, .usernameInput, .filePfp{
    margin-top: 40px;
}
.emailInput, .passwordInput, .usernameInput{
    font-size: 15px;
    width: 70%;
    height: 5%;
    padding-left: 20px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid gray;
}
input::placeholder{
    color: rgb(70, 70, 70);
}
.emailInput:focus, .passwordInput:focus, .usernameInput:focus{
    outline: none;
    border-bottom: 2px solid;
}

.submit{
    font-size: large;
    margin-top: 5%;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgba(155, 243, 230, 0.783);
    transition-duration: 0.3s;

}

.submit:hover{
    background-color: rgb(85, 221, 252);
}
.lineBreak{
    margin-top: 50px;
    width: 90%;
}
a{
    color: rgb(155, 55, 22);
    transition-duration: 0.3s;

}
a:hover{
    color: rgb(235, 61, 3);

}
.pfpImg{
    width: 50px;
    height: 50px;
    border-radius: 14px;
}
.errorText{
    color: rgb(237, 50, 50);
    width: 70%;
    height: 100px;
    text-align: center;
}