.ContainerTab{
    margin-top: 100px;
    margin-left: 550px;
    position: relative;
    padding: 50px;
    height: 500px;
    width: 700px;
    border: 1px solid black;
}
.Inputs{
    padding-left: 19%;
}
.Buttons{
    padding-top: 3%;
    padding-left: 19%;
}
.LoginLabel{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.emailInput{
    font-size: 15px;
    width: 400px;
    height: 30px;
    position: absolute;
}
.passwordInput{
    font-size: 15px;
    width: 400px;
    height: 30px;
    margin-top: 36px;
    position: relative;
}
.submit{
    font-size: large;
    width: 410px;
    height: 30px;
}
.createAccount{
    margin-left: 60px;
}
.lineBreak{
    margin-top: 50px;
    margin-left: -50px;
    width: 90%;
}