:root{
    --insideColor: #F6FFF8;
    --outsideColor: #EAF4F4;

    --distractColor: #E5C1BD;

    --submitColor: #6B9080;
    --submitHoverColor: #ffbbaa;

    --textColor: #AAAAAA;
    --errorColor: rgb(253, 75, 75);
    
    --linkColor: #6B9080;
    --linkHoverColor: #2a45b1;
}
body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: var(--outsideColor);
}

.containerLoginPageRes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 80%;
    margin: auto;
    overflow: auto;
    margin-top: 5%;
    background-color: var(--insideColor);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.containerLoginPageRes::-moz-selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
.containerLoginPageRes::selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
.containerLoginPageRes::-webkit-scrollbar{
    width: 20px;
}
.containerLoginPageRes::-webkit-scrollbar-thumb{
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition-duration: 0.3s;
}
.containerLoginPageRes::-webkit-scrollbar-thumb:hover{
    background-color: rgb(144, 144, 212);
}

.loginLabelRes, .emailInputLoginRes, .passwordInputLoginRes, .loginInputRes, .lineBreakLoginRes, .linkLoginRes{
  margin: 20px 0;
}

.containerLoginPageRes > input:not([type='submit']){
    background-color: transparent;
}

.loginLabelRes{
    margin-top: 60px;
    font-size: 1.5rem;
}

.containerLoginPageRes > input:not([type='submit']):not([type='file']):not(:placeholder-shown):not(:focus):valid{
    border-bottom: 2px solid rgb(1, 186, 1);
}

.containerLoginPageRes > input:not([type='submit']):not(:placeholder-shown):not(:focus):invalid{
    border-bottom: 2px solid red;
}
.containerLoginPageRes > input:focus::placeholder{
    color: transparent;
    transition-duration: 0.15s;
}

.passwordInputLoginRes, .usernameInputRes{
    margin-top: 40px;
}
.emailInputLoginRes, .passwordInputLoginRes, .usernameInputRes{
    font-size: 16sp;
    width: 80%;
    height: 5%;
    padding-left: 20sp;
    padding: 5px;
    border: none;
    border-bottom: 2px solid gray;
}
.containerLoginPageRes > input::placeholder{
    color: rgb(70, 70, 70);
}
.emailInputLoginRes:focus, .passwordInputLoginRes:focus, .usernameInputLoginRes:focus{
    outline: none;
    border-bottom: 2px solid;
}

.loginInputRes{
    font-size: 14sp;
    margin-top: 5%;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--distractColor);
    transition-duration: 0.3s;
}

.loginInputRes:hover{
    background-color: var(--submitHoverColor);
}
.lineBreakLoginRes{
    margin-top: 100px;
    width: 90%;
}
.linkLoginRes{
    color: var(--linkColor);
    transition-duration: 0.3s;
}
.linkLoginRes:hover{
    color: var(--linkHoverColor);
}
.errorTextLoginRes{
    color: var(--errorColor);
    width: 70%;
    height: 100px;
    text-align: center;
    font-size: 12sp;
}