:root{
    --deviceHeight: 100vh;

    --topInfoHeight: 10vh;
    --chatHeight: 85vh;
    --bottomOptionsHeight: 5vh;

    --userProfileHeight: 15vh;

    /* --colorLight: #DDD8C4;
    --colorDark: #50808E;
    --colorBG: #f7f7f2; */
    --distractColor: #E5C1BD;
    --linkColor: #6B9080;

    --colorMain: #fafafa;
    --colorMid: #dfe1e2;
    --colorAccent: #e1e2e9;
    
    --colorHover: #efeff0;

    --dateFont: open sans-serif;
}
.topSearchRes{
    background-color: var(--colorAccent);
}
.chatRes, .bottomOptionsRes{
    background-color: var(--colorMain);
}
.leftPanelRes{
    background-color: var(--colorMain);
}
.bottomPanelRes{
    background-color: var(--colorMain);
    border-left: 1px solid black;
}
.inputBarRes{
    background-color: var(--colorMain);
}
.topInfoRes{
    background-color: var(--colorMid);
}
.rightPanelRes{
    background-color: var(--colorMain);
}
.convSettingsRes{
    background-color: var(--colorMid);
}

body{
    border: 0;
    margin: 0;
    background-color: var(--colorBG);
    font-family: Arial, Helvetica, sans-serif
}
.containerConversationPageRes{
    display: flex;
    width: 100%;
    height: var(--deviceHeight);
}
.chatRes::-moz-selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
.chatRes::selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
.leftPanelRes{
    flex: 0.2;
}
.bottomPanelRes{
    flex: 0.6;
}
.rightPanelRes{
    flex:0.2;
}

.topSearchRes{
    height: var(--topInfoHeight);
    display: flex;
    align-items: center;
}
.searchInConv{
    margin: 25px;
    margin-right: 5px;
    width: 70%;
    height: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 233);
}
.searchInConv:hover{
    background-color: azure;
}

.chatList{
    text-align: left;
    height: 75%;
    overflow-y: auto;
}
.conversation, .conversationSelected{
    margin: 12px;
    width: 88%;
    border: transparent solid;
    background-color: transparent;
    border-radius: 10px;
    height: 55px;
    display: flex;
    align-items: center;
}
.conversationSelected{
    background-color: var(--colorAccent);
}
.conversation:hover, .conversationSelected:hover{
    background-color: var(--colorHover);
}
.convTitle{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
.convImg{
    padding: 7px;
    border-radius: 40%;
    width: 30px;
    height: 30px;
}
.userProfile{
    background-color: var(--colorMid);
    vertical-align: bottom;
    height: var(--userProfileHeight);
    display: flex;
    align-items: center;
}
.userProfileMain{
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 18px;

}
.userProfileUsername{
    font-size: large;
    overflow-wrap: break-word;
}
.logoutIcon{
    text-align: end;
    width: 30px;
    height: 30px;
    margin-left: 150px;
}
.logoutIcon:hover{
    background-color: rgba(128, 128, 128, 0.29);
    border-radius: 10px;
}

/* SELECT chatRes TAB */

/*-------------------------------- */

/* chatRes AREA */

.topInfoRes{
    display: flex;
    border-bottom: 1px solid black;
    
    height: calc(var(--topInfoHeight) - 1px);
    align-items: center;
}
.topInfoPicRes{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 16px;
}
.topInfoTitleRes{
    font-size: large;
}

.chatRes{
    display: flex;
    flex-direction: column;
    border: none;
    height: var(--chatHeight);
    overflow: auto;
    overflow-y: scroll;
}
.chatRes:-webkit-scrollbar{
    width: 20px;
}
.chatRes:-webkit-scrollbar-thumb{
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition-duration: 0.3s;
}
.chatRes::-webkit-scrollbar-thumb:hover{
    background-color: rgb(144, 144, 212);
}

.chatBeginningRes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.beginTitleRes{
    font-size: 16px;
    text-decoration: double;
}
.beginTextRes{
    font-size: 14px;
}

.bottomOptionsRes{
    height: var(--bottomOptionsHeight);
    display: flex;
}
.inputBarRes{
    display: flex;
    align-items: center;
    height: 35px;
    width: 97%;
    margin-left: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 12px;
}
.inputMessageRes, .emojiIconRes, .sendMessageRes, .addAttachmentRes{
    margin: 2px;
}
.addAttachmentRes{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: -5px;
    font-size: 18px;
    text-align: center;
}
.inputMessageRes{
    padding-left: 5px;
    margin-left: 2%;
    width: 85%;
    border: none;
    background-color: transparent;
}
.emojiContainerRes{
    position: relative;
    margin-right: 10px;
}
.emojiPickerRes{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin-bottom: 40px;
}
.emojiIconRes{
    width: 22px;
    height: 22px;
}
.sendMessageRes{
    text-align: center;
    font-size: 15px;
    width: 40px;
    height: 20px;
    margin-right: 15px;
    border-radius: 12px;
    border: none;
    background-color: #dfdfdf;
}
.addAttachmentRes:hover, .sendMessageRes:hover{
    background-color: gray;
}
.inputMessageRes:focus{
    outline: none;
}
.sendMessageRes:hover{
    background-color: #dfdfdf;
}
.diffDayRes{
    font-family: var(--dateFont);
    text-align: center;
}
.diffTimeRes{
    text-align: center;
    font-size: 14px;
}
.messageChainRes{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}
.messageRes{
    width: fit-content;
    border-radius: 14px;
    background-color: #dfdfdf;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.messageRes, .authorRes, .emptySpaceRes{
    float: left;
}

.you{
    align-self: flex-end;
}
.other{
    align-self: flex-start;
}
.diffOtherRes{
    margin-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto&display=swap');
.message-contentRes{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.msgImgRes{
    border-radius: 40%;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.authorRes{
    display: flex;
    align-items: center;
    font-size: medium;
    text-decoration: wavy;
}
.emptySpaceRes{
    width: 40px;
    height: 35px;
}
.spaceBetweenRes{
    margin-bottom: 40px;
}
.authorTooltipRes{
    display: none;
    position: relative;
}
.authorTooltipTextRes{
    position: absolute;
    z-index: 1;
    right: 0;
}
.authorRes:hover > .authorTooltipRes{
    display: block;
}

.tooltipTimeRes{
    position: relative;
    z-index: 2;
}
.tooltipTimeRes::before{
    display: none;
    position: absolute;

    content: attr(data-tooltip);
    border-radius: 18px;
    background-color: #9babff;
    color: white;
    text-align: center;
    font-size: 15px;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    right: 100%;
    margin-right: 25px;
}
.tooltipTimeRes:hover::before{
    display: block;
}


.timeMessageRes{
    font-size: 12px;
}

/* chatRes AREA */

/*-------------------------------- */

/* chatRes INFORMATION TAB */

.chatInfoRes{
    border: 0.5px solid black;
    height: 50vh;
    /* width: 100%; */
}
.convSettingsRes{
    height: calc( var(--topInfoHeight) + 10vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}
.convSettingsRes > .topInfoPicRes{
    width: 60px;
    height: 60px;
}
.inputConvSettingsRes{
    border: none;
    border-radius: 16px;
    margin-bottom: 25px;
}
.participantsRes{
    width: 95%;
    height: 70vh;
}
.memberRes{
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 15px;
    /* width: 90%; */
    height: 40px;
}
.memberRes:hover{
    background-color: var(--colorHover);
}
.imageAndStatusRes{
    width: fit-content;
    position: relative;
}
.memberImageRes{
    border-radius: 40%;
    float: left;
    width: 35px;
    height: 35px;
}
.Online, .Offline, .Custom{
    position: absolute;
    border-radius: 100%;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    right: 0;
    top: 0;
}
.Online{
    background-color: rgb(0, 190, 0);
}
.Offline{
    background-color: rgb(219, 2, 2);
}
.Custom{
    background-color: purple;
}
.flexMemberRes{
    width: 80%;
}
.memberUsernameRes{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
}
.memberStatusRes{
    margin-top: -20px;
    margin-left: 40px;
    font-size: 15px;
}
.manageUserRes{
    border: transparent;
    font-size: 25px;
    border-radius: 20%;
    width: fit-content;
    height: fit-content;
    float: right;
    text-align: center;
}

.addMemberContainerRes, .leaveGroupContainerRes{
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    font-size: 22px;
    height: 40px;
    display: flex;
    align-items: center;
}
.addMemberContainerRes:hover, .leaveGroupContainerRes:hover{
    background-color: var(--colorHover);
}
.addMemberImgRes, .leaveGroupImgRes{
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
.addMemberImgRes, .addMemberTextRes{
    float: left;
}


/* chatRes INFORMATION TAB */