.Container{
    height: 920px;
    padding: 5px;
    display: flex;
    justify-items: center;
}

/*-------------------------------- */

/* SELECT CHAT TAB */
.LeftPanel{
    text-align: center;
    border: 1px solid black;
    /* width: 500px; */
    
    flex: 0.25;
}
.ChatsLabel{
    font-size: 20px;
}
.SearchInput{
    width: 200px;
    height: 30px;
}
.createNewChatBtn{
    margin-right: 5px;
    float: right;
    width: 40px;
    height: 30px;
}
.ChatList{
    margin-top: 25px;
    border: 0.5px black solid;
    height: 650px;
}
.UserProfile{
    margin-top: 4px;
    border: 0.5px black solid;
    height: 150px;
}

.conversation{
    margin: 12px;
    width: 90%;
    border: 0.5px black solid;
    border-radius: 10px;
}
.conversationSelected{
    margin: 12px;
    width: 90%;
    border: 0.5px rgb(209, 94, 94) solid;
    border-radius: 10px;
}
/* SELECT CHAT TAB */

/*-------------------------------- */

/* CHAT AREA */
.BottomPanel{
    border: 1px solid black;
    flex: 0.55;
}
.TopInfo{
    border: 1px solid gray;
    height: 9%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.ChatPfp{
    
    width: 50px;
    height: 50px;
}
.Chat{
    border: 1px solid gray;
    margin-top: 1px;
    height: 80%;
    padding: 10px;
}
.BottomButtons{
    margin: 3px;
    border: 1px solid gray;
    height:5%;
}
.InputMessage{
    margin-left: 40px;
    float: left;
    width: 580px;
    height: 40px;
}
.SendMessage{
    margin: 3px;
    height: 40px;
    width: 80px;
}

.message{
    width: fit-content;
    margin: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(41, 116, 117);
}
.message-content{
    margin: 10px;
    font-size: 20px;
}
.message-meta{
    display: flex;
}
.message-meta p{
    flex: 0;
    margin: 5px;
}

#author{
    font-size: medium;
    text-decoration: wavy;
}
#time{
    font-size: smaller;
    margin-top: 5px;
}
#you{
    justify-content: flex-end;
}
#other{
    justify-content: flex-start;
}
/* CHAT AREA */

/*-------------------------------- */

/* CHAT INFORMATION TAB */
.RightPanel{
    border: 1px solid black;
    /* width: 200px; */
    
    flex:0.2;
}
.ChatInfo{
    border: 0.5px solid black;
    height: 50vh;
    width: 100%;
}
.Participants{
    width: 100%;
    height: 50vh;
}
.Member{
    width: 100%;
    height: 70px;
}
.memberImage{
    border-radius: 40%;
    float: left;
    width: 35px;
    height: 35px;
}
.memberUsername{
    font-size: 18px;
    margin: 20px;
    margin-left: 40px;
}
.memberStatus{
    
    font-size: 15px;
}
.flexMember{
    
}
.AddMember{
    margin-top: 20px;
    width: 10vw;

}
/* CHAT INFORMATION TAB */