:root{
    --deviceHeight: 100vh;

    --topInfoHeight: 10vh;
    --chatHeight: 85vh;
    --bottomOptionsHeight: 5vh;

    --userProfileHeight: 15vh;

    /* --colorLight: #DDD8C4;
    --colorDark: #50808E;
    --colorBG: #f7f7f2; */
    --distractColor: #E5C1BD;
    --linkColor: #6B9080;

    --colorMain: #fafafa;
    --colorMid: #dfe1e2;
    --colorAccent: #e1e2e9;
    
    --colorHover: #efeff0;

    --dateFont: open sans-serif;
}
.topSearch{
    background-color: var(--colorAccent);
}
.chat, .bottomOptions{
    background-color: var(--colorMain);
}
.leftPanel{
    background-color: var(--colorMain);
}
.bottomPanel{
    background-color: var(--colorMain);
    border-left: 1px solid black;
}
.inputBar{
    background-color: var(--colorMain);
}
.topInfo{
    background-color: var(--colorMid);
}
.rightPanel{
    background-color: var(--colorMain);
}
.convSettings{
    background-color: var(--colorMid);
}

body{
    border: 0;
    margin: 0;
    background-color: var(--colorBG);
    font-family: Arial, Helvetica, sans-serif
}
.containerConversationPage{
    display: flex;
    width: 100%;
    height: var(--deviceHeight);
}
.chat::-moz-selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
.chat::selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
.leftPanel{
    flex: 0.2;
}
.bottomPanel{
    flex: 0.6;
}
.rightPanel{
    flex:0.2;
}

.topSearch{
    height: var(--topInfoHeight);
    display: flex;
    align-items: center;
}
.searchInConv{
    margin: 25px;
    margin-right: 5px;
    width: 70%;
    height: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 233);
}
.searchInConv:hover{
    background-color: azure;
}

.chatList{
    text-align: left;
    height: 75%;
    overflow-y: auto;
}
.conversation, .conversationSelected{
    margin: 12px;
    width: 88%;
    border: transparent solid;
    background-color: transparent;
    border-radius: 10px;
    height: 55px;
    display: flex;
    align-items: center;
}
.conversationSelected{
    background-color: var(--colorAccent);
}
.conversation:hover, .conversationSelected:hover{
    background-color: var(--colorHover);
}
.convTitle{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
.convImg{
    padding: 7px;
    border-radius: 40%;
    width: 30px;
    height: 30px;
}
.userProfile{
    background-color: var(--colorMid);
    vertical-align: bottom;
    height: var(--userProfileHeight);
    display: flex;
    align-items: center;
}
.userProfileMain{
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 18px;

}
.userProfileUsername{
    font-size: large;
    overflow-wrap: break-word;
}
.logoutIcon{
    text-align: end;
    width: 30px;
    height: 30px;
    margin-left: 150px;
}
.logoutIcon:hover{
    background-color: rgba(128, 128, 128, 0.29);
    border-radius: 10px;
}

/* SELECT CHAT TAB */

/*-------------------------------- */

/* CHAT AREA */

.topInfo{
    display: flex;
    border-bottom: 1px solid black;
    
    height: calc(var(--topInfoHeight) - 1px);
    align-items: center;
}
.topInfoPic{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 16px;
}
.topInfoTitle{
    font-size: large;
}

.chat{
    display: flex;
    flex-direction: column;
    border: none;
    height: var(--chatHeight);
    overflow: auto;
    overflow-y: scroll;
}
.chat:-webkit-scrollbar{
    width: 20px;
}
.chat:-webkit-scrollbar-thumb{
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition-duration: 0.3s;
}
.chat::-webkit-scrollbar-thumb:hover{
    background-color: rgb(144, 144, 212);
}

.chatBeginning{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.beginTitle{
    font-size: 16px;
    text-decoration: double;
}
.beginText{
    font-size: 14px;
}

.bottomOptions{
    height: var(--bottomOptionsHeight);
    display: flex;
}
.inputBar{
    display: flex;
    align-items: center;
    height: 35px;
    width: 97%;
    margin-left: 15px;
    background-color: rgb(236, 236, 236);
    border-radius: 12px;
}
.inputMessage, .emojiIcon, .sendMessage, .addAttachment{
    margin: 2px;
}
.addAttachment{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: -5px;
    font-size: 18px;
    text-align: center;
}
.inputMessage{
    padding-left: 5px;
    margin-left: 2%;
    width: 85%;
    border: none;
    background-color: transparent;
}
.emojiContainer{
    position: relative;
    margin-right: 10px;
}
.emojiPicker{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin-bottom: 40px;
}
.emojiIcon{
    width: 22px;
    height: 22px;
}
.sendMessage{
    text-align: center;
    font-size: 15px;
    width: 40px;
    height: 20px;
    margin-right: 15px;
    border-radius: 12px;
    border: none;
    background-color: #dfdfdf;
}
.addAttachment:hover, .sendMessage:hover{
    background-color: gray;
}
.inputMessage:focus{
    outline: none;
}
.sendMessage:hover{
    background-color: #dfdfdf;
}
.diffDay{
    font-family: var(--dateFont);
    text-align: center;
}
.diffTime{
    text-align: center;
    font-size: 14px;
}
.messageChain{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}
.message{
    width: fit-content;
    border-radius: 14px;
    background-color: #dfdfdf;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.message, .author, .emptySpace{
    float: left;
}

.you{
    align-self: flex-end;
}
.other{
    align-self: flex-start;
}
.diffOther{
    margin-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto&display=swap');
.message-content{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.msgImg{
    border-radius: 40%;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.author{
    display: flex;
    align-items: center;
    font-size: medium;
    text-decoration: wavy;
}
.emptySpace{
    width: 40px;
    height: 35px;
}
.spaceBetween{
    margin-bottom: 40px;
}
.authorTooltip{
    display: none;
    position: relative;
}
.authorTooltipText{
    position: absolute;
    z-index: 1;
    right: 0;
}
.author:hover > .authorTooltip{
    display: block;
}

.tooltipTime{
    position: relative;
    z-index: 2;
}
.tooltipTime::before{
    display: none;
    position: absolute;

    content: attr(data-tooltip);
    border-radius: 18px;
    background-color: #9babff;
    color: white;
    text-align: center;
    font-size: 15px;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    right: 100%;
    margin-right: 25px;
}
.tooltipTime:hover::before{
    display: block;
}


.timeMessage{
    font-size: 12px;
}

/* CHAT AREA */

/*-------------------------------- */

/* CHAT INFORMATION TAB */

.chatInfo{
    border: 0.5px solid black;
    height: 50vh;
    /* width: 100%; */
}
.convSettings{
    height: calc( var(--topInfoHeight) + 10vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}
.convSettings > .topInfoPic{
    width: 60px;
    height: 60px;
}
.inputConvSettings{
    border: none;
    border-radius: 16px;
    margin-bottom: 25px;
}
.participants{
    width: 95%;
    height: 70vh;
}
.member{
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 15px;
    /* width: 90%; */
    height: 40px;
}
.member:hover{
    background-color: var(--colorHover);
}
.imageAndStatus{
    width: fit-content;
    position: relative;
}
.memberImage{
    border-radius: 40%;
    float: left;
    width: 35px;
    height: 35px;
}
.Online, .Offline, .Custom{
    position: absolute;
    border-radius: 100%;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    right: 0;
    top: 0;
}
.Online{
    background-color: rgb(0, 190, 0);
}
.Offline{
    background-color: rgb(219, 2, 2);
}
.Custom{
    background-color: purple;
}
.flexMember{
    width: 80%;
}
.memberUsername{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
}
.memberStatus{
    margin-top: -20px;
    margin-left: 40px;
    font-size: 15px;
}
.manageUser{
    border: transparent;
    font-size: 25px;
    border-radius: 20%;
    width: fit-content;
    height: fit-content;
    float: right;
    text-align: center;
}


.addMemberContainer, .leaveGroupContainer{
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    font-size: 22px;
    height: 40px;
    display: flex;
    align-items: center;
}
.addMemberContainer:hover, .leaveGroupContainer:hover{
    background-color: var(--colorHover);
}
.addMemberImg, .leaveGroupImg{
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
.addMemberImg, .addMemberText{
    float: left;
}


/* CHAT INFORMATION TAB */