.containerManageUser{
    width: 15%;
    background-color: var(--colorMid);
    border-radius: 5px;
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customizeUser{
    font-size: 16px;
    height: 40px;
    width: 95%;
    background-color: transparent;
    border: transparent;
    border-radius: 12px;
    margin: 2px;
}
.customizeUser:hover{
    background-color: var(--colorHover);
}