:root{
    --deviceHeight: 100vh;

    --topHeight: 10vh;

    --bottomHeight: 10vh;

    --userProfileHeight: 14vh;

    --colorLight: #DDD8C4;
    --colorDark: #50808E;
    --colorBG: #f7f7f2;

    --colorMain: #BFD7FF;
    --colorMid: #9BB1FF;
    --colorAccent: #788BFF;
    
    --colorHover: #ABC4FF;
}
body{
    background-color: var(--colorBG);
    font-family: Arial, Helvetica, sans-serif
}
.containerConversationPage{
    display: flex;
    /* border: 1px solid black; */
    height: var(--deviceHeight);
}
.leftPanel{
    flex: 0.2;
    /* border: 1px solid black; */
    background-color: var(--colorMain);
}
.bottomPanel{
    flex: 0.6;
    border: 1px solid black;

}
.rightPanel{
    flex:0.2;
    border: 1px solid black;

}

.topSearch{
    border: 1px solid black;
    height: var(--topHeight);
    display: flex;
    align-items: center;
}
.searchInConv{
    margin: 25px;
    margin-right: 5px;
    width: 70%;
    height: 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 246, 233);
}
.searchInConv:hover{
    background-color: azure;
}

.chatList{
    text-align: left;
    height: 70%;
}
.conversation, .conversationSelected{
    margin: 12px;
    width: 90%;
    border: transparent solid;
    background-color: transparent;
    border-radius: 10px;
    height: 55px;
    display: flex;
    align-items: center;
}
.conversationSelected{
    background-color: var(--colorAccent);
}
.conversation:hover, .conversationSelected:hover{
    background-color: var(--colorHover);
}
.convTitle{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}
.convImg{
    padding: 7px;
    border-radius: 40%;
    width: 30px;
    height: 30px;
}
.userProfile{
    background-color: var(--colorMid);
    vertical-align: bottom;
    height: var(--userProfileHeight);
    display: flex;
    align-items: center;
}
.userProfileMain{
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 18px;

}
.userProfileUsername{
    font-size: large;
    overflow-wrap: break-word;
}
.logoutIcon{
    text-align: end;
    width: 30px;
    height: 30px;
    margin-left: 150px;
}
.logoutIcon:hover{
    background-color: rgba(128, 128, 128, 0.29);
    border-radius: 10px;
}

/* SELECT CHAT TAB */

/*-------------------------------- */

/* CHAT AREA */

.topInfo{
    display: flex;
    border-bottom: 1px solid black;
    
    height: var(--topHeight);
    align-items: center;
}
.topInfoPic{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 16px;
}
.topInfoTitle{
    font-size: large;
}
.chat{
    display: flex;
    flex-direction: column;
    border: none;
    height: 80%;
    overflow: auto;
    overflow-y: scroll;
}
.bottomButtons{
    border: none;
    height: 5%;
}
.inputMessage{
    padding-left: 5px;
    margin-left: 0px;
    width: 90%;
    border-radius: 15px;
    border: none;
    background-color: whitesmoke;
}
.sendMessage{
    width: 5%;
    border-radius: 15px;
    border: none;
    background-color: whitesmoke;
}
.sendMessage:hover, .inputMessage:hover{
    background-color: azure;
}
.message{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px; 
    border-radius: 10px;
    border: 0.5px solid rgb(41, 116, 117);
}
.you{
    align-self: flex-end;
}
.other{
    align-self: flex-start;
}
.message-content{
    margin: 10px;
    font-size: 20px;
}
.message-meta{
    display: flex;
}
.message-meta p{
    flex: 0;
    margin: 5px;
}

#author{
    font-size: medium;
    text-decoration: wavy;
}
#time{
    font-size: smaller;
    margin-top: 5px;
}

/* CHAT AREA */

/*-------------------------------- */

/* CHAT INFORMATION TAB */

.chatInfo{
    border: 0.5px solid black;
    height: 50vh;
    width: 100%;
}
.participants{
    width: 100%;
    height: 50vh;
}
.member{
    width: 100%;
    height: 40px;
}
.memberImage{
    border-radius: 40%;
    float: left;
    width: 35px;
    height: 35px;
}
.flexMember{
    width: 80%;
}
.memberUsername{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
}
.memberStatus{
    margin-top: -20px;
    margin-left: 40px;
    font-size: 15px;
}
.manageUser{
    border: transparent;
    font-size: 25px;
    border-radius: 20%;
    width: fit-content;
    height: fit-content;
    float: right;
}
.addMemberContainer, .leaveGroupContainer{
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    display: flex;
    font-size: 22px;
    width: 100%;
    height: 40px;
}

.addMemberContainer:hover, .leaveGroupContainer:hover{
    background-color: aliceblue;
}
.addNewMemberBtn, .leaveGroup{
    border-radius: 50px;
    border: 0.5px solid black;
    flex: 0.2;
    width: 50px;
}
.leaveGroup{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.addMemberA, .leaveGroupA{
    flex: 0.8;
    margin-right: -10px;
}
/* CHAT INFORMATION TAB */