:root{
    --deviceHeight: 95vh;

    --topHeight: 10vh;

    --bottomHeight: 10vh;

    --userProfileHeight: 14vh;
}
body{
    background-color: transparent;
}
.containerConversationPage{
    display: flex;
    border: 1px solid black;
    height: var(--deviceHeight);
}
.leftPanel{
    flex: 0.2;
    border: 1px solid black;
    
}
.bottomPanel{
    flex: 0.6;
    border: 1px solid black;

}
.rightPanel{
    flex:0.2;
    border: 1px solid black;

}

.topSearch{
    border: 1px solid black;
    height: var(--topHeight);
}
.search{
    width: calc(fit-content + 5%);
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.search:hover{
    background-color: azure;
}
.chatList{
    text-align: left;
    height: 70%;
}
.convTitle{
    font-size: 18px;
}

.convImg{
    /* padding-right: 10px; */
    border-radius: 40%;
    width: 30px;
    height: 30px;
}

.userProfile{
    border: 1px solid black;
    height: var(--userProfileHeight);
}
.userProfileMain{
    width: 60px;
    height: 60px;
}


.conversation, .conversationSelected{
    margin: 12px;
    width: 90%;
    border: transparent solid;
    background-color: rgb(255, 254, 252);
    border-radius: 10px;
}
.conversationSelected{
    background-color: azure;
}
.conversation:hover, .conversationSelected:hover{
    background-color: bisque;
}
/* SELECT CHAT TAB */

/*-------------------------------- */

/* CHAT AREA */

.topInfo{
    border: 1px solid black;
    height: var(--topHeight);
    text-align: left;
    /* border-bottom: ; */
}
.chatName{
    display: flex;
    align-items: center;
}
.chatPfp{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.chat{
    display: flex;
    flex-direction: column;
    border: none;
    height: 80%;
    overflow: auto;
    overflow-y: scroll;
}
.bottomButtons{
    border: none;
    height: 5%;
}
.inputMessage{
    padding-left: 5px;
    margin-left: 0px;
    width: 90%;
    border-radius: 15px;
    border: none;
    background-color: whitesmoke;
}
.sendMessage{
    width: 5%;
    border-radius: 15px;
    border: none;
    background-color: whitesmoke;
}
.sendMessage:hover, .inputMessage:hover{
    background-color: azure;
}
.message{
    width: fit-content;
    margin: 10px; 
    border-radius: 10px;
    border: 0.5px solid rgb(41, 116, 117);
}
.you{
    align-self: flex-end;
}
.other{
    align-self: flex-start;
}
.message-content{
    margin: 10px;
    font-size: 20px;
}
.message-meta{
    display: flex;
}
.message-meta p{
    flex: 0;
    margin: 5px;
}

#author{
    font-size: medium;
    text-decoration: wavy;
}
#time{
    font-size: smaller;
    margin-top: 5px;
}

/* CHAT AREA */

/*-------------------------------- */

/* CHAT INFORMATION TAB */

.chatInfo{
    border: 0.5px solid black;
    height: 50vh;
    width: 100%;
}
.participants{
    width: 100%;
    height: 50vh;
}
.member{
    width: 100%;
    height: 40px;
}
.memberImage{
    border-radius: 40%;
    float: left;
    width: 35px;
    height: 35px;
}
.flexMember{
    width: 80%;
}
.memberUsername{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
}
.memberStatus{
    margin-top: -20px;
    margin-left: 40px;
    font-size: 15px;
}
.manageUser{
    border: transparent;
    font-size: 25px;
    border-radius: 20%;
    width: fit-content;
    height: fit-content;
    float: right;
}
.addMemberContainer, .leaveGroupContainer{
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    display: flex;
    font-size: 22px;
    width: 100%;
    height: 40px;
}

.addMemberContainer:hover, .leaveGroupContainer:hover{
    background-color: aliceblue;
}
.addNewMemberBtn, .leaveGroup{
    border-radius: 50px;
    border: 0.5px solid black;
    flex: 0.2;
    width: 50px;
}
.leaveGroup{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.addMemberA, .leaveGroupA{
    flex: 0.8;
    margin-right: -10px;
}
/* CHAT INFORMATION TAB */