
.LeftPanel{
    flex: 0.2;
}
.BottomPanel{
    flex: 0.6;
}
.RightPanel{
    flex:0.2;
}

.search{
    width: calc(fit-content + 5%);
    font-size: 15px;
    border: none;
    border-radius: 5px;
}
.search:hover{
    background-color: azure;
}
.ChatList{
    text-align: left;
    height: 70%;
}
.convTitle{
    font-size: 18px;
}

.convImg{
    padding-right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.UserProfile{
    height: 15%;
}


.conversation, .conversationSelected{
    margin: 12px;
    width: 90%;
    border: transparent solid;
    background-color: rgb(255, 254, 252);
    border-radius: 10px;
}
.conversationSelected{
    background-color: azure;
}
.conversation:hover, .conversationSelected:hover{
    background-color: bisque;
}
/* SELECT CHAT TAB */

/*-------------------------------- */

/* CHAT AREA */

.TopInfo{
    height: 5%;
    text-align: left;
    /* border-bottom: ; */
}
.ChatName{
    display: flex;
    align-items: center;
}
.ChatPfp{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.Chat{
    display: flex;
    flex-direction: column;
    border: none;
    height: 80%;
    overflow: auto;
    overflow-y: scroll;
}
.BottomButtons{
    border: none;
    height: 5%;
}
.InputMessage{
    padding-left: 5px;
    margin-left: 0px;
    width: 90%;
    border-radius: 15px;
    border: none;
    background-color: whitesmoke;
}
.SendMessage{
    width: 5%;
    border-radius: 15px;
    border: none;
    background-color: whitesmoke;
}
.SendMessage:hover, .InputMessage:hover{
    background-color: azure;
}
.message{
    width: fit-content;
    margin: 10px; 
    border-radius: 10px;
    border: 0.5px solid rgb(41, 116, 117);
}
.you{
    align-self: flex-end;
}
.other{
    align-self: flex-start;
}
.message-content{
    margin: 10px;
    font-size: 20px;
}
.message-meta{
    display: flex;
}
.message-meta p{
    flex: 0;
    margin: 5px;
}

#author{
    font-size: medium;
    text-decoration: wavy;
}
#time{
    font-size: smaller;
    margin-top: 5px;
}

/* CHAT AREA */

/*-------------------------------- */

/* CHAT INFORMATION TAB */

.ChatInfo{
    border: 0.5px solid black;
    height: 50vh;
    width: 100%;
}
.Participants{
    width: 100%;
    height: 50vh;
}
.Member{
    width: 100%;
    height: 40px;
}
.memberImage{
    border-radius: 40%;
    float: left;
    width: 35px;
    height: 35px;
}
.flexMember{
    width: 80%;
}
.memberUsername{
    font-size: 20px;
    margin: 20px;
    margin-left: 40px;
}
.memberStatus{
    margin-top: -20px;
    margin-left: 40px;
    font-size: 15px;
}
.manageUser{
    border: transparent;
    font-size: 25px;
    border-radius: 20%;
    width: fit-content;
    height: fit-content;
    float: right;
}
.addMemberContainer, .leaveGroupContainer{
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: transparent;
    display: flex;
    font-size: 22px;
    width: 100%;
    height: 40px;
}

.addMemberContainer:hover, .leaveGroupContainer:hover{
    background-color: aliceblue;
}
.addNewMemberBtn, .leaveGroup{
    border-radius: 50px;
    border: 0.5px solid black;
    flex: 0.2;
    width: 50px;
}
.leaveGroup{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.addMemberA, .leaveGroupA{
    flex: 0.8;
    margin-right: -10px;
}
/* CHAT INFORMATION TAB */