.ContainerTab2{
    margin-top: 5%;
    margin-left: 25%;
    height: 60%;
    width: 45%;
    border: 1px solid black;
}

.Buttons2{
    padding-top: 3%;
    padding-left: 19%;
}
.LoginLabel2{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    /* text-align: center; */
}
.Inputs2{
    width: 100%;
}
.emailInput2{
    font-size: 15px;
    width: 400px;
    height: 30px;
    /* float: right; */
}
.usernameInput2{
    font-size: 15px;
    width: 400px;
    height: 30px;
}
.passwordInput2{
    font-size: 15px;
    width: 400px;
    height: 30px;
    margin-top: 36px;
    
}
.submit2{
    font-size: 20px;
    width: 410px;
    height: 30px;
}
.createAccount2{
    margin-left: 60px;
}
.lineBreak2{
    margin-top: 50px;
    margin-left: -50px;
    width: 90%;
}
img{
    width: 50px;
    height: 50px;
}