:root{
    --insideColor: #F6FFF8;
    --outsideColor: #EAF4F4;

    --distractColor: #E5C1BD;

    --submitColor: #6B9080;
    --submitHoverColor: #ffbbaa;

    --textColor: #AAAAAA;
    --errorColor: rgb(253, 75, 75);
    
    --linkColor: #6B9080;
    --linkHoverColor: #2a45b1;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--outsideColor);
}

.containerRegisterPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 40%;
    margin: auto;
    overflow: auto;
    margin-top: 5%;
    padding: 50px;

    background-color: var(--insideColor);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
::-moz-selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
::selection{
    color: var(--linkColor);
    background-color: var(--distractColor);
}
.containerRegisterPage::-webkit-scrollbar{
    width: 20px;
}
.containerRegisterPage::-webkit-scrollbar-thumb{
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition-duration: 0.3s;
}
.containerRegisterPage::-webkit-scrollbar-thumb:hover{
    background-color: rgb(144, 144, 212);
}

.registerLabel, .emailInputRegister, .passwordInputRegister, .registerInput, .lineBreakRegister, .linkRegister {
  margin: 10px 0;
}

input:not([type='submit']){
    background-color: transparent;
}

.registerLabel{
    font-size: 40px;
}

input:not([type='submit']):not([type='file']):not(:placeholder-shown):not(:focus):valid{
    border-bottom: 2px solid rgb(1, 186, 1);
}

input:not([type='submit']):not(:placeholder-shown):not(:focus):invalid{
    border-bottom: 2px solid red;
}
input:focus::placeholder{
    color: transparent;
    transition-duration: 0.15s;
}
.pfpImg{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 14px;
}

.filePfp{
    display: none;
}
.labelFile{
    margin-top: 20px;
    border: none;
    color: white;
}
.passwordInputRegister, .usernameInputRegister, .filePfp{
    margin-top: 40px;
}
.emailInputRegister, .passwordInputRegister, .usernameInputRegister{
    font-size: 15px;
    width: 70%;
    height: 5%;
    padding-left: 20px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid gray;
}
input::placeholder{
    color: rgb(70, 70, 70);
}
.emailInputRegister:focus, .passwordInputRegister:focus, .usernameInputRegister:focus{
    outline: none;
    border-bottom: 2px solid;
}

.registerInput{
    font-size: 22px;
    margin-top: 5%;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 14px;
    background-color: var(--distractColor);
    transition-duration: 0.3s;
}

.registerInput:hover{
    background-color: var(--submitHoverColor);
}
.lineBreakRegister{
    margin-top: 50px;
    width: 90%;
}
.linkRegister{
    color: var(--linkColor);
    transition-duration: 0.3s;
}
.linkRegister:hover{
    color: var(--linkHoverColor);
}
.errorTextRegister{
    color: var(--errorColor);
    width: 70%;
    height: 100px;
    text-align: center;
    font-size: 16px;
}